<div class="container mt-5">
  <div class="row mb-5">
    <div class="col-12 col-lg-6 mx-auto">

      {{!-- restaurant input --}}
      <form action="/records/{{{record.id}}}/edit?_method=PUT" method="POST" class="form">

        {{!-- 類別選單--}}
        <div class="form-group row" id="editpage-category">
          <div class="btn-group btn-group-toggle mt-2" data-toggle="buttons">
            <div class="input-group-prepend">
              <span class="input-group-text" id="basic-addon1">類別：</span>
            </div>
            <label class="btn btn-warning {{#ifEquals '家居物業' record.category}}active{{/ifEquals}}">
              <i class="fas fa-home mr-2 fa-4x"></i>
              <input type="radio" name="category" id="option1" autocomplete="off" value="家居物業" required
                {{#ifEquals '家居物業' record.category}}checked{{/ifEquals}}>
              <small id="" class="">家居物業</small>
            </label>
            <label class="btn btn-warning {{#ifEquals '交通出行' record.category}}active{{/ifEquals}}">
              <i class="fas fa-shuttle-van mr-2 fa-4x"></i>
              <input type="radio" name="category" id="option1" autocomplete="off" value="交通出行" required
                {{#ifEquals '交通出行' record.category}}checked{{/ifEquals}}>
              <small id="" class="">交通出行</small>
            </label>
            <label class="btn btn-warning {{#ifEquals '休閒娛樂' record.category}}active{{/ifEquals}}">
              <i class="fas fa-grin mr-2 fa-4x"></i>
              <input type="radio" name="category" id="option1" autocomplete="off" value="休閒娛樂" required
                {{#ifEquals '休閒娛樂' record.category}}checked{{/ifEquals}}>
              <small id="" class="">休閒娛樂</small>
            </label>
            <label class="btn btn-warning {{#ifEquals '餐飲食品' record.category}}active{{/ifEquals}}">
              <i class="fas fa-utensils mr-2 fa-4x"></i>
              <input type="radio" name="category" id="option1" autocomplete="off" value="餐飲食品" required
                {{#ifEquals '餐飲食品' record.category}}checked{{/ifEquals}}>
              <small id="" class="">餐飲食品</small>
            </label>
            <label class="btn btn-warning {{#ifEquals '其他' record.category}}active{{/ifEquals}}">
              <i class="fas fa-pen mr-2 fa-4x"></i>
              <input type="radio" name="category" id="option1" autocomplete="off" value="其他" required
                {{#ifEquals '其他' record.category}}checked{{/ifEquals}}>
              <small id="" class="">其他</small>
            </label>
          </div>
        </div>

        {{!-- 輸入欄位 --}}
        <div class="form-group row">
          <label for="name">支出品項：
            <span class="input-required">
              {{#if record.name.required}}*{{/if}}
            </span></label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" name="name" value="{{record.name}}">
            <small id="" class="form-text text-muted">{{#if record.name.required}}必填欄位{{/if}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="unitPrice">單價：
            <span class="input-required">
              {{#if record.unitPrice.required}}*{{/if}}
            </span></label>
          <div class="col-10 ml-auto">
            <input type="number" class="form-control" id="" placeholder="" name="unitPrice"
              value="{{record.unitPrice}}">
            <small id="" class="form-text text-muted">{{#if record.unitPrice.required}}必填欄位{{/if}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="amount">數量：
            <span class="input-required">
              {{#if record.amount.required}}*{{/if}}
            </span></label>
          <div class="col-10 ml-auto">
            <input type="number" class="form-control" id="" placeholder="" name="amount" value="{{record.amount}}">
            <small id="" class="form-text text-muted">{{#if record.amount.required}}必填欄位{{/if}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="merchant">商家：
            <span class="input-required">
              {{#if record.merchant.required}}*{{/if}}
            </span></label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" name="merchant" value="{{record.merchant}}">
            <small id="" class="form-text text-muted">{{#if record.merchant.required}}必填欄位{{/if}}</small>
          </div>
        </div>
        <div class="form-group row">
          <label for="date">日期：
            <span class="input-required">
              {{#if record.date.required}}*{{/if}}
            </span>
          </label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="datepicker" placeholder="" name="date" value="{{record.date}}">
            <small id="" class="form-text text-muted">
              {{#if record.date.required}}必填欄位{{/if}}
            </small>
          </div>
        </div>
        <div class="form-group row">
          <label for="description">備註：
            <span class="input-required">
              {{#if record.description.required}}*{{/if}}
            </span></label>
          <div class="col-10 ml-auto">
            <input type="text" class="form-control" id="" placeholder="" name="description"
              value="{{record.description}}">
            <small id="" class="form-text text-muted">{{#if record.description.required}}必填欄位{{/if}}</small>
          </div>
        </div>




        {{!-- button for save and cancel --}}
        <div class="button-group">
          <button type="submit" class="btn btn-info px-5 mr-4">Save</button>
          <a class="btn btn-dark" href="/" role="button">Cancel</a>
        </div>
      </form>
    </div>
  </div>
</div>

{{!-- <script>
  Date.prototype.toDateInputValue = function () {
    var local = new Date(this);
    local.setMinutes(this.getMinutes() - this.getTimezoneOffset());
    return local.toJSON().slice(0, 10);
  };
  document.getElementById('datePicker').value = new Date().toDateInputValue();
</script> --}}